<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let user of usersArray; let i = index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ user.username }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="wrapper" fxLayout="row">
                <div class="wrapper-content-a">
                    <p>Name : {{ user.name }}</p>
                    <p>E-mail : {{ user.email }}</p>
                    <p>Address : {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}</p>
                    <p>Phone : {{ user.phone }}</p>
                </div>
                <div class="wrapper-content-b">
                    <p>Website : {{ user.website }}</p>
                    <p>Company : {{ user.company.name }}</p>
                    <p>Catch phrase: {{ user.company.catchPhrase }}</p>
                    <p>BS : {{ user.company.bs }}</p>
                </div>
                <button class="delete-icon" (click)="onDelete(user.id,i)">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <button mat-button class="view" routerLink="/users/{{ user.id }}/posts">View posts</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>